*{
    margin: 0;
    padding: 0;
}

h1.title{
    text-align: center;
    padding: 10px 15px;
    font-size: 17px;
}

.sub-title{
    text-align: center;
    padding: 10px 15px;
}

.nav{
    background-color: rgb(84, 92, 100);
    display: flex;
    align-items: center;
    padding: 15px 20px;
}

.nav a{
    color: #fff;
}

.theme-title{
    color: #fff;
    font-size: 20px;
    margin-right: 30px;
}

a {
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
}

a:hover{
    opacity: .8;
}


.container{
    display: flex;
    padding: 20px 0;
}

.container .router-link{
    width: 120px;
    border-right: 1px solid #d9d9d9;
}

.container .link{
    width: 120px;
    padding: 15px 10px;
}

.container .router-wrapper{
    padding: 10px 50px;
}
